# QTCreator project files
breezewaymod.cflags
breezewaymod.config
breezewaymod.creator
breezewaymod.creator.user
breezewaymod.cxxflags
breezewaymod.files
breezewaymod.includes

# KDevelop bs
breezeway-mod.kdev4

# build folder
build/
